[submodule "CloudsLibrary/src/VisualSystems/World"]
	path = CloudsLibrary/src/VisualSystems/World
	url = git@github.com:CLOUDS-Interactive-Documentary/World.git
[submodule "CloudsLibrary/src/VisualSystemsLibrary"]
	path = CloudsLibrary/src/VisualSystemsLibrary
	url = git@github.com:CLOUDS-Interactive-Documentary/VisualSystemsLibrary
[submodule "CloudsLibrary/src/VisualSystems/DataCascade"]
	path = CloudsLibrary/src/VisualSystems/DataCascade
	url = git@github.com:CLOUDS-Interactive-Documentary/DataCascade.git
