Debug*/
Release*/
build/
*.app/
.svn/
*.perspectivev3
*.pbxuser
*.mode*
*.xcworkspace
*.mov
xcuserdata/
xcshareddata/

.DS_Store

#Clouds specific stuff
cmixstuff
graphviz/
*.zip


#vs2010 stuff
*.suo
*.opensdf
*.sdf
*.exp
*.lib
*.exe
*.ilk
*.dll
*.bak
*.pdb

/testRTcmix/bin/data/shlib/*
Working/

#PCL stuff
pcl/
