
body{
	font-family:'Blender',Sans-Serif;
	color:#FFFFFF;
	font-size:12px;
	font-weight:lighter;
	background-color:#000000;
	width:1920px;
	height:1080px;
	
}

#graph{
	width:1920px;
	height:1080px;
	float:right;
}

/*#graph{
	width:1280px;
	height:720px;
}*/

#video{
	z-index:1;
	float:left;
}

#overlay{
	right:0px;
	left:0px;
	position:relative;
	margin-left:2.6%;
	margin-right:2.6%;
	margin-top:2.6%;	
	height:93%;
	
}

#question{
	font-size:3em;
	background-color: #1D2A37;
	position:absolute;
	left:0%;
	/*padding-left:22px;
	padding-right:22px;*/
	padding-left:1.15%;
	padding-right:1.15%;
	/*padding-top:28px;
	padding-bottom:28px;*/
	padding-top:1.23%;
	padding-bottom:1.23%;
	border:1px solid #FFFFFE;
	font-weight:100;
	/*border-image:url(../images/queestion_corner.png) 44 44;*/
}

.lower_third{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: rgba(25, 30, 25, 0.8);
	padding:36px 26px ;
	border:1px solid rgba(226, 228, 226, 1);
	border-left:0px;
	border-right:0px;
	/*-webkit-border-top-left-image: url(../images/circle.png) 100% stretch;*/
}

.column1{
	float:left;
	width:252px;
	padding:0px 0px 0px 26px;
	text-transform: uppercase;
	font-size: 48px;
}
.column2{
	position: relative;
	float:right;
	width:1490px;	
	font-size: 24px;
	
}

.column2_1{	
	float: left;
	width: 257px;	
	font-size:21px;
	text-transform: uppercase;

}

.column2_2{
	float:right;
    width:1213px;
    /*font-size:16px;*/
    font-size:30px;
	font-weight:100;

}

.box{
	background-color: rgba(73, 83, 83, 0.18);
	padding-top:10px;
	padding-right:40px;
	padding-left: 20px;
	padding-bottom:10px;
	margin-bottom:20px;	
	float:left;
	font-weight:100;
}

.border-top-left{
	position: absolute;
    top: -2.5px;
    left: -2.5px;
}
.border-top-right{
	position: absolute;
    top: -2.5px;
    right: -2.5px;
}
.border-bottom-right{
	position: absolute;
    bottom: -2.5px;
    right: -2.5px;
}
.border-bottom-left{
	position: absolute;
    bottom: -2.5px;
    left: -2.5px;
}

#clip_info{
	
}

#title{	
	
}

#location{

}

#byline{
	
}

#first{	

}

#last{	
	font-size:66px;
}
















