<brush_width>25</brush_width>
<number_of_lines>34</number_of_lines>
<line_width>3.204999924</line_width>
<damp>0.245000005</damp>
<softness>0.357499987</softness>
<height>10.000000000</height>
<k>0.082500003</k>
<lerp>0.224999994</lerp>
<repulsion_rad>0.599999964</repulsion_rad>
<repulsion_pct>1.000000000</repulsion_pct>
<color_lerp>0.514999986</color_lerp>
<color_random>0.002100000</color_random>

<palette>
    <height>250</height>
    <img>01.png</img>
    <img>02.png</img>
    <img>03.png</img>
    <color>ee1b12</color>
    <color>f7990f</color>
    <color>f9ee00</color>
    <color>2cd511</color>
    <color>5fc4b2</color>
    <color>127bcc</color>
    <color>2720ff</color>
    <color>8716ff</color>
    <color>ff16d3</color>
    <color>ffffff</color>
    <color>000000</color>
</palette>

