<Canvas>
    <Kind>42</Kind>
    <Name>Settings</Name>
    <IsMinified>0</IsMinified>
    <XPosition>425</XPosition>
    <YPosition>312</YPosition>
</Canvas>
<Widget>
    <Kind>2</Kind>
    <Name>UPDATE</Name>
    <Value>1</Value>
</Widget>
<Widget>
    <Kind>2</Kind>
    <Name>RENDER</Name>
    <Value>1</Value>
</Widget>
