<Canvas>
    <Kind>42</Kind>
    <Name>Settings</Name>
    <IsMinified>0</IsMinified>
    <XPosition>1.000000000</XPosition>
    <YPosition>1.000000000</YPosition>
</Canvas>
<Widget>
    <Kind>2</Kind>
    <Name>UPDATE</Name>
    <Value>1</Value>
</Widget>
<Widget>
    <Kind>2</Kind>
    <Name>RENDER</Name>
    <Value>1</Value>
</Widget>
<Widget>
    <Kind>2</Kind>
    <Name>NO CURSOR</Name>
    <Value>1</Value>
</Widget>
<Widget>
    <Kind>2</Kind>
    <Name>PRIMARY CURSOR</Name>
    <Value>0</Value>
</Widget>
<Widget>
    <Kind>2</Kind>
    <Name>ALL CURSORS</Name>
    <Value>0</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Spin Speed</Name>
    <Value>3.694581032</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Dot Size</Name>
    <Value>4.103447914</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Nucleus Size</Name>
    <Value>0.541871905</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Axon Thickness</Name>
    <Value>5.024630547</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Alpha</Name>
    <Value>0.615763545</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Sway</Name>
    <Value>6.305418491</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Max Nodes</Name>
    <Value>6403.940917969</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Seed Count</Name>
    <Value>12.689655304</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Dance Amplitude</Name>
    <Value>1.280788183</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Dance Frequency</Name>
    <Value>0.064039409</Value>
</Widget>
<Widget>
    <Kind>4</Kind>
    <Name>Dance Offset</Name>
    <Value>0.007389163</Value>
</Widget>
